/*  Sass Template */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

/* global classes */
button,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.font-roboto {
  font-family: "Roboto";
}

.font-arial {
  font-family: Arial;
}

.font-san-serif {
  font-family: sans-serif;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-20 {
  font-size: 20px;
}

.color-primary {
  color: #6f2232;
}

.color-primary-bg {
  background: #6f2232;
}

.color-secondary {
  color: #950740;
}

.color-secondary-bg {
  background: #950740;
}

.color-third {
  color: #c3073f;
}

.color-third-bg {
  background: #c3073f;
}

.color-dark {
  color: #4e4e50;
}

.color-dark-bg {
  background: #4e4e50;
}

.color-wishlist {
  color: pink;
}

#banner-area .item {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  width: auto;
  height: 700px;
}

#top-sale .owl-carousel .item .product a {
  overflow: hidden;
}

#top-sale .owl-carousel .item .product img {
  transition: transform 0.5s ease;
  height: 12rem;
  width: auto;
  margin-bottom: 2rem;
}

#top-sale .owl-carousel .item .product img:hover {
  transform: scale(1.1);
}

#top-sale .owl-carousel .owl-nav button {
  position: absolute;
  top: 30%;
  outline: none;
}

#top-sale .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

#top-sale .owl-carousel .owl-nav button.owl-prev span,
#top-sale .owl-carousel .owl-nav button.owl-next span {
  font-size: 35px;
  color: #6f2232;
  padding: 0 1rem;
}

#top-sale .owl-carousel .owl-nav button.owl-prev span {
  margin-left: -4rem;
}

#top-sale .owl-carousel .owl-nav button.owl-next {
  right: 0;
}

#top-sale .owl-carousel .owl-nav button.owl-next span {
  margin-right: -4rem;
}

.custom-product {
  width: 200px;
}

#special-price .grid .grid-item {
  margin-right: 1.2rem;
  margin-top: 1rem;
}

#new-gloves .owl-carousel .item .product a {
  overflow: hidden;
}

#new-gloves .owl-carousel .item .product img {
  transition: transform 0.5s ease;
  height: 12rem;
  width: auto;
  margin-bottom: 2rem;
}

#new-gloves .owl-carousel .item .product img:hover {
  transform: scale(1.1);
}

#new-gloves .owl-carousel .owl-nav button {
  position: absolute;
  top: 30%;
  outline: none;
}

#new-gloves .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}

#new-gloves .owl-carousel .owl-nav button.owl-prev span,
#new-gloves .owl-carousel .owl-nav button.owl-next span {
  font-size: 35px;
  color: #6f2232;
  padding: 0 1rem;
}

#new-gloves .owl-carousel .owl-nav button.owl-prev span {
  margin-left: -4rem;
}

#new-gloves .owl-carousel .owl-nav button.owl-next {
  right: 0;
}

#new-gloves .owl-carousel .owl-nav button.owl-next span {
  margin-right: -4rem;
}

#banner-area {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.25)),
    url("../images/Hero.jpg");
  /* background-attachment: fixed;
background-repeat: no-repeat; */
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "Roboto";
}

/*# sourceMappingURL=style.css.map */
#map {
  height: 500px;
  width: 100%;
}