// Color Template

.color-primary{
  color: $color-primary; 
}
.color-primary-bg{
    background: $color-primary; 
  }
  
.color-secondary{
  color: $color-secondary;
}
.color-secondary-bg{
    background: $color-secondary;
  }
.color-third{
    color: $color-third;
}
.color-third-bg{
    background: $color-third;
}
.color-dark{
  color: $color-dark;
}
.color-dark-bg{
  background: $color-dark;
}
.color-wishlist{
  color: $color-wishlist;
}
