$font-roboto:"Roboto";
$font-arial:"Arial";
$font-san-serif:"san-serif";
$color-primary:#6f2232;
$color-secondary:#950740;
$color-third:#c3073f;
$color-dark:#1a1a1d;
$color-dark:#4e4e50;
$color-wishlist:pink;